.page {
  display: flex;
  flex-direction: column;
  background-image: var(--background-image);
  background-size: 100% 100%;
  background-repeat: repeat-x;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  height: 100%;
  width: 100%;
}

.decorated-zone {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}


.header__theme-menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-item {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--menu-color);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}


.rec {
  /* display: flex; */
  display: var(--display-rec);
  align-items: center;
  position: absolute;
  right: 20px;
  gap: 5px;
}

.bulb {
  color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.elips {
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}


.corner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  
}

.corner__right {
  border-top: 1px solid var(--bulb-color);
  border-right: 1px solid var(--bulb-color);

}

.corner__left {
  border-bottom: 1px solid var(--bulb-color);
  border-left: 1px solid var(--bulb-color);
  /* margin-left: 20px; */
  margin-block-end: 20px;
  margin-inline-start: 20px;
}


.cover {
  display: flex;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  line-height: 129.53px;
  text-align: left;
  /* color: #db00ff; */
  color: var(--big-text-color);
  /* text-shadow: 4px 4px 0 var(--accent-color); */
  text-shadow: 4px 4px 0 var(--shadow-big-text-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /* padding-block-start: 273px; */
  padding-block-start: 256px;
}



.title {
  inline-size: 48%;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  margin-block-start: 114px;
  margin-left: auto;
  margin-right: 20px;    
  /* margin-block-end: 109px; */
  margin-block-end: 89px;
}

.title-decor {
  color: var(--marker-color);
  background: var(--accent-color);
}


@media (width <=768px) {
  .decorated-zone {
    display: flex;
    justify-content: end;
  }
  .header__theme-menu {
    padding-top: 170px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
.cover {
  padding-block-start: 146px;
  text-shadow: 4px 4px 0 var(--shadow-text-color);
}
.title {
  margin-block-start: 145px;
  inline-size: 47%;
  margin-block-end: 140px;
}
}


@media (width <=375px) {
  .decorated-zone {
    display: flex;
    padding: 10px;
  }
  .header__theme-menu {
    padding-top: 65px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .rec {
    right: 10px;
  }
.cover {
  padding-block-start: 60px;
  padding-inline-start: 10px;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-text-color);
}
.title {
  inline-size: 95%;
  margin-block-start: 51px;
  margin-left: auto;
  margin-right: 10px;    
  margin-block-end: 31px;
}
.corner__left {
  margin-left: 10px;
}
}


/* ---MAIN---
SECTION 1 */


